@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  background: transparent;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

button,
button:active {
  background-color: rgb(234,178,156);
  border: none;
  width: 42px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  cursor: pointer;
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(240, 240, 190); 
  width: 350px;
  max-width: 100%;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 10px 10px sienna;
  box-sizing: border-box;
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 70px;
  text-align: center;
  background-color: rgb(150,180,175);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px rgb(121, 145, 141) inset;
}

#display-controls {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 25px;
  text-align: center;
  padding-top: 2px;
  background-color: rgb(150,180,175);
  border-radius: 10px;
  height: 40px;
  flex: 2;
  box-shadow: 3px 3px rgb(121, 145, 141) inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

/* Timer Length Controls */

.length-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 140px;
  height: 60px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 2px solid rgb(234,178,156);
  padding: 10px;
  border-radius: 10px;
  width: 49.5%;
  box-sizing: border-box;
}

.timer-length {
  font-size: 2em;
}

/* Responsive Design */
@media screen and (max-width: 420px) {
  .clock-container {
    width: 100%;
    padding: 20px;
  }
  
  #time-left {
    font-size: 50px;
    padding: 15px;
  }
  
  #timer-label {
    font-size: 20px;
  }
  
  #timer-ssr {
    margin-left: 15px;
  }
  
  .length-container {
    flex-direction: column;
    gap: 10px;
  }
  
  .break-container, 
  .session-container {
    width: 100%;
    margin-right: 0;
  }
  
  .break-container {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  #time-left {
    font-size: 40px;
    padding: 10px;
  }
  
  .clock-container {
    padding: 15px;
  }
}
